@font-face {
    font-family: "Budmo Jiggler";
    src: url("../fonts/budmo.jiggler.otf") format("opentype");
}

@font-face {
    font-family: "Disko";
    src: url("../fonts/disko_ot.otf") format("opentype");
}

@font-face {
    font-family: "Albas";
    src: url("../fonts/albas.ttf") format("truetype");
}


@font-face {
    font-family: "Shagade";
    src: url("../fonts/shagade.ttf") format("truetype");
}


body {
    font-family: "Albas", cursive;
    background-color: #000;
    color: rgb(212, 207, 207);
}
.title {
    font-family: "Budmo Jiggler";
    padding-top: 20px;
    font-size: 52px;
}

/*-----------------------------------------------------------------------------------*/
.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 9999;
}

.preload .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.preload .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.preload .lds-ellipsis div:nth-child(1) {
    left: 8px;
    -webkit-animation: lds-ellipsis1 0.6s infinite;
    animation: lds-ellipsis1 0.6s infinite;
}

.preload .lds-ellipsis div:nth-child(2) {
    left: 8px;
    -webkit-animation: lds-ellipsis2 0.6s infinite;
    animation: lds-ellipsis2 0.6s infinite;
}

.preload .lds-ellipsis div:nth-child(3) {
    left: 32px;
    -webkit-animation: lds-ellipsis2 0.6s infinite;
    animation: lds-ellipsis2 0.6s infinite;
}

.preload .lds-ellipsis div:nth-child(4) {
    left: 56px;
    -webkit-animation: lds-ellipsis3 0.6s infinite;
    animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes lds-ellipsis1 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes lds-ellipsis3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes lds-ellipsis2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(24px, 0);
        transform: translate(24px, 0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(24px, 0);
        transform: translate(24px, 0);
    }
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}

/*-----------------------------------------------------------------------------------*/
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.navbar .navbar-brand {
    font-family: "Budmo Jiggler", cursive;
    font-weight: 900;
    font-size: 30px;
    color: white !important;
}

.navbar .nav-link {
    text-align: center;
    color: white !important;
    border-bottom: 0.5px solid white;
    font-size: 18px;
}

.navbar .navbar-toggler {
    border: none;
}

.navbar .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*-----------------------------------------------------------------------------------*/
.jumbo-hero {
    height: 80vh;
    background-image: url("../img/jumbo.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.jumbo-hero h1 {
    color: #fb86cc;
    font-family: "Neonderthaw", cursive;
    font-weight: 900;
    font-size: 5em;
}

.mb-set {
    margin-bottom: 100px;
}

/*-----------------------------------------------------------------------------------*/

#galleries .photo-1 {
    width: 100%;
}

#galleries .photo-2 {
    width: 100%;
    height: 300px;
}

#galleries .photo-3 {
    width: 100%;
    height: 250px;
}

#galleries .photo-4 {
    width: 100%;
    height: 300px;
}

#galleries .photo-5 {
    width: 100%;
    height: 300px;
}

#galleries .photo-6 {
    width: 100%;
    height: 300px;
}

#galleries .photo-7 {
    width: 100%;
    height: 300px;
}

/*-----------------------------------------------------------------------------------*/

#event .jumbotron {
    height: 85%;
    background-image: url("../img/event.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 50px;
    min-height: 650px;
    color: rgb(253, 252, 252);
}

#event .tour-title {
    font-size: 145px;
    font-family: "Disko";
    color: rgb(253, 252, 252);
}

#event .tour-date {
    text-transform: uppercase;
    color: rgb(253, 252, 252);
}

#event p {
    font-size: 25px;
}

#event a {
    border-radius: 0px;
}

#days {
    font-size: 50px;
    color: #db4844;
  }
  #hours {
    font-size: 50px;
    color: #f07c22;
  }
  #minutes {
    font-size: 50px;
    color: #f6da74;
  }
  #seconds {
    font-size: 50px;
    color: #abcd58;
  }

/*-----------------------------------------------------------------------------------*/

#contact .jumbotron {
    background: transparent;
}

#contact .icon {
    font-size: 50px !important;
}

#contact .fa-instagram:hover {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#contact .fa-facebook:hover {
    color: #3b5998;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#contact .fa-twitter:hover {
    color: #00acee;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#contact .fa-spotify:hover {
    color: #1db954;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#contact .fa-youtube:hover {
    color: #ff0000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#contact .fa-deezer:hover {
    background: linear-gradient(45deg, #ff0000, #ffed00, #ff0092, #c2ff00, #00c7f2, #c1f1fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#contact a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#contact span {
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
}

/*-----------------------------------------------------------------------------------*/
#footer {
    background-color: #000;
    border-top: 0.3px solid gray;
}

#footer p {
    color: #fff;
    padding-top: 18px;
}
